.nav-item.active span {
  color: #2196f3 !important;
}
.question {
  display: flex;
  flex-direction: column;
}

.question-form {
  display: flex;
  justify-content: space-between;
}

.question-form__first {
  width: 50%;
  margin-right: 40px;
}
.question-form__second {
  width: 50%;
}
.variant__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}